* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

body {
}

h2 {
    font-size: 5rem;
    font-weight: bold;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
}
